<!DOCTYPE html>
<html>

<head>
  <title>{{.}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="modulepreload" href="/static/app/sharpdown/main.js" />
  <link rel="modulepreload" href="/static/app/sharpdown/dotnet.js" />

  <link rel="preload" href="/static/app/postproc/wikilink.js" as="script" />
  <link rel="preload" href="/static/app/postproc/embeddedfile.js" as="script" />
  <link rel="preload" href="/static/app/postproc/postproc.js" as="script" />

  <link rel="preload" href="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js" as="script" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.8.0/build/styles/nord.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontsource/source-serif-pro@5.0.8/index.min.css">

  <link rel="prefetch" href="/static/app/sharpdown/dotnet.wasm"  as="fetch" />
  <link rel="prefetch" href="/static/app/sharpdown/icudt.dat" as="fetch" />
  <link rel="prefetch" href="/static/app/sharpdown/managed/System.Private.CoreLib.dll" as="fetch" />
</head>

<body style="font-family: 'Source Serif Pro'">
  <h1>{{.}}</h1>
  <div id="out"></div>
  <script type="module" src="/static/app/sharpdown/main.js"></script>
  <script src="/static/app/postproc/wikilink.js"></script>
  <script src="/static/app/postproc/embeddedfile.js"></script>
  <script src="/static/app/postproc/postproc.js"></script>
  <script>
      MathJax = {
          startup: {
              typeset: false
          },
          tex: {
              inlineMath: [['$', '$']]
          }
      };
  </script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.8.0/build/highlight.min.js"></script>
</body>

</html>
