{{define "body"}}
<hr class="whoami_hr" />
<img class="whoami_img" src="/static/img/whoami/whoami_1.png">
<div class="whoami_div">
    <h1>Who am I?</h1>
    <p class="whoami">
        I'm CrackTC, a regular university student. I really enjoy computer science and consider myself a bit of a nerd
        xd. It's difficult to describe myself, but basically, I'm someone who enjoys coding, playing games<del>, and
            maybe watching anime</del>.</p>
    <p class="whoami">
        As a coder, I'm a fan of <a href="https://groups.csail.mit.edu/mac/projects/scheme/">scheme</a> and <a
            href="https://www.lua.org">lua</a>, although I don't use them much. For most of my projects, I use <a
            href="https://learn.microsoft.com/en-us/dotnet/csharp/">C#</a> and <a href="https://go.dev">Go</a>(btw this
        website server is written in Go), and find them enjoyable too. I'm also a big fan of <a
            href="https://www.kernel.org">Linux</a>, and I use <a href="https://archlinux.org">Arch Linux</a> as my
        daily driver.
    </p>
    <p class="whoami">
        As a gamer, I play a range of different types, such as games focused on strategy, racing, or role-playing, but
        my skill level isn't high.
        I'm also a lover of rhythm games, and spend a lot of time playing <a
            href="https://github.com/exch-bms2/beatoraja">Beatoraja</a>.
    </p>
    <p class="whoami">
        While I'm not adept at conveying information, if you have any questions or just want to chat, you can easily
        find me on Discord using the tag <code>CrackTC#1812</code>.
    </p>
</div>
{{end}}
