{{define "head"}}
<link rel="preload" href="/static/js/postproc.js" as="script" />
<link rel="stylesheet" href="/static/css/katex.min.css" />
<link rel="preload" href="/static/js/highlightjs/highlight.min.js" as="script" />
<link rel="preload" href="/static/js/highlightjs/lisp.min.js" as="script" />
<link rel="preload" href="/static/js/highlightjs/nix.min.js" as="script" />
<link rel="preload" href="/static/js/highlightjs/scheme.min.js" as="script" />
{{end}}

{{define "body"}}
<div id="content">
    <h1 id="title">{{.Title}}</h1>
    {{.Content}}
</div>
<script defer src="/static/js/katex/katex.min.js"></script>
<script defer src="/static/js/katex/auto-render.min.js" onload="renderMathInElement(document.body, {
        delimiters: [
            {left: '$$', right: '$$', display: true},
            {left: '$', right: '$', display: false},
        ]
    });"></script>
<script src="/static/js/highlightjs/highlight.min.js"></script>
<script src="/static/js/highlightjs/lisp.min.js"></script>
<script src="/static/js/highlightjs/nix.min.js"></script>
<script src="/static/js/highlightjs/scheme.min.js"></script>
<script src="/static/js/postproc.js"></script>
{{end}}
